* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    flex: 1 1 0;
    max-width: 200px;
    padding: 2rem 1rem;
    background-color: #ff00ff4d;
}

.sidebar .logo {
    margin: -50px -17px;
    margin-bottom: -17px;
    height: 200px;
    transition: 0.3s linear;
}

.sidebar .logo:hover {
    transform: rotate(12deg);
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: flex;
    padding: 1em;
    color: #ff56cc;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.active {
    color: #ff08b5;
    background-color: #ffc0ea;
    border-right: 5px solid;
    border-radius: 3px;
}

.page .body {
    border-left: 2px solid #ff08b5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    align-items: center;
    position: relative;
    --color: #f7b6dc;
    background: linear-gradient(45deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(-45deg, var(--color) 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, transparent 75%, var(--color) 75%) -50px 0,
        linear-gradient(-45deg, transparent 75%, var(--color) 75%) -50px 0;
    background-color: #e5e5f7;
    background-size: 10px 40px;
}

/* Main Text */
hr.round {
    margin-bottom: 10px;
    border: 3px solid #ff8ad8;
    border-radius: 9px;
}

.MainText {
    text-align: center;
}

.MainText h3 {
    color: #ff56cc;
    font-size: 40px;
    font-family: "Concert One", serif;
    text-shadow: #7a0164 1.5px 1.5px 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.MainText .card {
    border: 3px solid #ff56cc;
    background-color: #ffc0ea;
    border-radius: 10px;
    width: 20rem;
    padding: 9px;
}

@media (max-width: 1024px) {
    .sidebar .logo {
        margin: -25px -7px;
        margin-bottom: 0.5rem;
        height: 80px;
    }

    .sidebar {
        max-width: 100px;
    }
}